<textarea
        class="col-md-12 form-control lp-no-resize"
        ng-model="userTyping"
        placeholder="{{placeholder}}">
</textarea>

<div class="clearfix col-md-12 lp-prepost" ng-class="{'lg-display-hide': hidePreview == true}">

    <div class="lp-prepost-wrap lp-left"
         ng-class="{'col-sm-12': noThumbnail == true, 'col-sm-9': noThumbnail == false}">

        <div class="col-sm-12 lp-preview-title-wrap lp-left"
             ng-class="{'lg-display-hide': previewTitleEditing == true}">

            <span class="lp-preview-title col-md-12" ng-click="editPreviewTitle()">{{preview.title}}</span>

        </div>

        <div class="col-sm-12 lp-preview-replace-title-wrap lp-left"
             ng-class="{'lg-display-hide': previewTitleEditing == false}">
            <input class="form-control lp-preview-replace-title"
                   id="editPreviewTitle"
                   ng-model="preview.title" type="text"
                   placeholder="{{preview.title}}">
        </div>

        <div class="col-sm-12 lp-preview-canonical-url lp-left">{{preview.canonicalUrl}}</div>

        <div class="col-sm-12 lp-preview-description-wrap lp-left">
            <div class="lp-preview-description lp-left"
                 ng-click="editPreviewDescription()"
                 ng-class="{'lg-display-hide': previewDescriptionEditing == true}">
                {{preview.description}}
            </div>
        </div>

        <div class="col-sm-12 lp-preview-replace-description-wrap lp-left"
             ng-class="{'lg-display-hide': previewDescriptionEditing == false}">
            <textarea
                    class="form-control lp-no-resize lp-preview-replace-description"
                    ng-model="preview.description">
            </textarea>
        </div>

        <div class="clearfix col-sm-12 lp-preview-thubmnail lp-left"
             ng-class="{'lg-display-hide': noThumbnail == true}">

            <span class="lp-preview-thubmnail-buttons lp-left">

                <button class="btn btn-sm"
                        ng-click="previousImage()"
                        ng-class="{'btn-disabled': leftArrowDisabled == true, 'btn-default': leftArrowDisabled == false}"
                        type="button">

                    <i class="fa fa-caret-left"></i>

                </button>

                <button class="btn btn-sm"
                        ng-click="nextImage()"
                        ng-class="{'btn-disabled': rightArrowDisabled == true, 'btn-default': rightArrowDisabled == false}"
                        type="button">

                    <i class="fa fa-caret-right"></i>

                </button>

            </span>

            <span class="lp-preview-thubmnail-pagination lp-left">{{thumbnailPaginationText}}</span>

            <span class="lp-preview-thubmnail-text lp-left">{{thubmnailText}}</span>

        </div>

        <div class="col-sm-12 lp-preview-no-thubmnail lp-left"
             ng-class="{'lg-display-hide': noImage == true, 'tweak': noThumbnail == false}">

            <label class="checkbox-inline lp-preview-no-thubmnail-text lp-left">

                <input type="checkbox" ng-model="noThumbnail">

                <span>{{noThubmnailText}}</span>

            </label>

        </div>

    </div>

    <div class="col-sm-3 lp-preview-image lp-left" ng-class="{'lg-display-hide': noThumbnail == true}">


        <img ng-src="{{preview.image}}">

        <span><i class="fa fa-play lp-play lp-left" ng-class="{'lg-display-hide': preview.video == false}"></i></span>


    </div>


</div>

<div class="clearfix col-md-12 lp-button">

    <span class="col-sm-4 lp-span">

        <img class="lp-loading-image" src="{{loadingImage}}" ng-class="{'lg-display-hide': hideLoading == true}"/>

        <span class="lp-loading-text" ng-class="{'lg-display-hide': hideLoading == true}">{{loadingText}}</span>

    </span>

    <span class="col-sm-8 lp-span">

        <button class="pull-right btn"
                ng-click="post(preview)"
                ng-class="{'btn-{{buttonClass}}': allowPosting == true, 'btn-disabled': allowPosting == false}"
                type="button">
            {{buttonText}}
        </button>

        <button class="pull-right btn btn-danger lp-button-cancel btn-{{cancelButtonClass}}"
                ng-class="{'lg-display-hide': allowPosting == false}"
                ng-click="resetPreview()"
                type="button">
            {{cancelButtonText}}
        </button>


    </span>

</div>

<div class="lp-outer-posted" ng-repeat="post in posts">


    <div class="clearfix col-md-12 lp-posted lp-left">

        <span class="col-sm-12 lp-span lp-posted-text" ng-bind-html="textHTML"></span>

        <span ng-bind-html="videoIframeHTML" class="col-sm-12 lp-iframe"
              ng-class="{'lg-display-hide': showIframe == false}"></span>

        <a href="{{post.pageUrl}}" target="_blank">

            <div class="lp-posted-wrap"
                 ng-class="{'col-sm-12': layoutWithoutImage(post), 'col-sm-9': layoutWithImage(post), 'lp-force-100': showIframe == true}">
                <div class="col-sm-12 lp-posted-title lp-left"
                     ng-class="{'lp-posted-title-iframe': layoutWithoutImage(post)}">{{post.title}}
                </div>

                <div class="col-sm-12 lp-posted-canonical-url lp-left"
                     ng-class="{'lp-posted-canonical-url-iframe': layoutWithoutImage(post)}">{{post.canonicalUrl}}
                </div>

                <div class="col-sm-12 lp-posted-description lp-left"
                     ng-class="{'lp-posted-description-iframe': layoutWithoutImage(post)}"
                     ng-bind-html="descriptionHTML"></div>
            </div>

        </a>


        <div class="col-sm-3 lp-posted-image lp-left"
             ng-class="{'lg-display-hide': post.image == '' || showIframe == true, 'lp-posted-image-iframe': showIframe == true}"
             ng-click="imageAction(post)">

            <img ng-src="{{post.image}}" ng-class="{'lg-display-hide': showIframe == true}">

            <span><i class="fa fa-play lp-play"
                     ng-class="{'lg-display-hide': hidePlay(post)}"></i></span>

        </div>

        <span class="col-sm-12 lp-span">

            <span class="pull-left lp-posted-close" ng-click="deletePosted(post, $index)">
                <i class="fa fa-close"></i>
            </span>

        </span>

    </div>

</div>